body {
    font-family: Arial;
    text-align: center;
}

#map {
    height: 600px;
    margin-top: 20px;
}

.controls {
    margin: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
    width: 200px;
}

#info {
    margin-top: 10px;
    font-weight: bold;
}